@import url('./reset.css');

@import url('./container.css');

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  margin-right: 8px;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  background: #4e75ff;

  font: 500 16px / 1.5 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
}
.loadmore-btn {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  margin: 20px auto;
  
    background: grey;
  
    font: 500 16px / 1.5 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    color: #fff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
}

.photo-card {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.photo-card a {
  display: block;
  height: 152px;
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  height: 48px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  gap: 10px;
}

.info p {
  margin: 0;
  white-space: nowrap;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.is-hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
